/*
Theme Name: Skyview
Author: Longevity Graphics
Author URI: http://www.longevitygraphics.com
Version: 1.0
Template: twentyten
*/





html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}
/* =Layout
-------------------------------------------------------------- */
/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/
.home #container{
    display: block;
}
#container {
    display: table-cell;
    margin: 0;
    padding-right: 20px;
    width: 100%;
}
#container.one-column{
    padding-right: 0px;
    display: inherit;
}
#content {
	margin: 0;
}
#primary, #secondary {
    display: table-cell;
    min-width: 380px;
    width: 380px;
}
#secondary {
	clear: right;
}
#footer {
	clear: both;
	width: 100%;
}
/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/
.one-column #content {
	margin: 0 auto;
	width: 100%;
}
/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/
.single-attachment #content {
	margin: 0 auto;
	width: 900px;
}
/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: "Open Sans", Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type="submit"] {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
/* =Structure
-------------------------------------------------------------- */
/* The main theme structure */
div.menu,
#branding,
#wrapper {
	margin: 0 auto;
	width: 1240px;
}
#wrapper {
	background: #fff;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}
/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}
/* =Global Elements
-------------------------------------------------------------- */
/* Main global 'theme' and typographic styles */
body {
	background: #fff;
}
body,
input,
textarea {
	color: #242424;
	font-size: 12px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}
/* Text elements */
p {
	margin-bottom: 18px;
}
ul {
	list-style: circle;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: 600;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	overflow: auto;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: smaller;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="number"],
input[type="tel"],
textarea {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #333;
    margin-bottom: 12px;
    padding: 6px 8px;
    width: 100%;
    line-height: 20px;
}
a:link, a:visited  {
	color: #EB8A16;
	text-decoration: none;
}
a:active,
a:hover {
	color: #0B2979;
	text-decoration: none;
}
a:link, a:visited, a:active, a:hover, #access li, #access li:hover, .btn, .btn:hover{
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

-webkit-appearance: none;
border-radius: 0;
}
/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}
/* =Menu
-------------------------------------------------------------- */

#access{
    margin-top: -100px;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target::after {
    display: none !important;
}
.ubermenu-submenu .ubermenu-has-submenu-drop > .ubermenu-target::after {
    display: block !important;
}
.ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0, .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left {
    float: right !important;
}
li.ubermenu-item-level-0{
    box-sizing: border-box !important;
    height: 100px !important;
    padding-top: 45px !important;
}
li.ubermenu-item-level-0:first-child a{
    border-right: 1px solid #f3f3f3 !important;
}
li.ubermenu-item-level-0:first-child li.ubermenu-item-level-1:first-child a{
    border-right: none !important;
}
li.ubermenu-item-level-0 a{
    border-left: 1px solid #f3f3f3 !important;

    color: #242424 !important;
    display: block !important;
    font-size: 16px !important;
    line-height: 40px !important;
    padding: 0 30px !important;
    text-decoration: none !important;
}
li.ubermenu-item-level-0:hover{
    background: none no-repeat center bottom #f3f3f3 !important;
}
.home li.ubermenu-current-menu-item,
.home li.ubermenu-current-menu-item:hover,
.home li.ubermenu-current-page-ancestor,
.home li.ubermenu-current-page-ancestor:hover{
    background: url('./images/menu_arrow.png') no-repeat center bottom #f3f3f3 !important;
}
li.ubermenu-current-menu-item,
li.ubermenu-current-menu-item:hover,
li.ubermenu-current-page-ancestor,
li.ubermenu-current-page-ancestor:hover{
    background: url('./images/menu_arrow.png') no-repeat center bottom #f3f3f3 !important;
}
li.ubermenu-current-page-ancestor li.ubermenu-current-menu-item{
    background: none !important;
}

.ubermenu-submenu {
    background: #232323 none repeat scroll 0 0 !important;
    border: medium none !important;
    margin-top: 13px !important;
    overflow: hidden !important;
}
.ubermenu-submenu.ubermenu-submenu-align-left_edge_item li a:hover,
.ubermenu-submenu.ubermenu-submenu-align-right_edge_item li a:hover{
    background: #eb8a16 !important;
    font-weight: 300 !important;
    color: #fff !important;
}
.ubermenu-submenu.ubermenu-submenu-align-left_edge_item .ubermenu-current-menu-item a,
.ubermenu-submenu.ubermenu-submenu-align-right_edge_item .ubermenu-current-menu-item a{
    background: #242424 !important;
    color: #eb8a16 !important;
}
.ubermenu-tabs-group.ubermenu-column-1-4 {
    background: #fff none repeat scroll 0 0 !important;
    margin-top: 0 !important;
    width: 235px !important;
    padding-top: 34px !important;
}
.ubermenu .ubermenu-submenu .ubermenu-column{
    float: none !important;
}
.ubermenu-submenu li a {
    border: medium none !important;
    font-weight: 300 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    color: #fff !important;
}
.ubermenu-submenu .ubermenu-tabs a {
    color: #242424 !important;
    line-height: 25px !important;
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}
.ubermenu-submenu li a:hover,
.ubermenu-submenu li.ubermenu-active a {
    background: #f3f3f3 !important;
    font-weight: 500 !important;
}
.ubermenu-sub-indicators .ubermenu-tabs.ubermenu-tab-layout-left > .ubermenu-tabs-group > .ubermenu-has-submenu-drop > .ubermenu-target::after {
    content: "" !important;
}

.ubermenu .ubermenu-nav .ubermenu-column-full {
    overflow: hidden;
}
.ubermenu .ubermenu-nav .ubermenu-column-3-4 {
    width: 78% !important;
}
.ubermenu h3.ubermenu-widgettitle {
    color: #fff !important;
    font-size: 22px;
    margin-bottom: 10px !important;
    text-transform: uppercase;
    text-align: left;
}
.ubermenu-content-block .textwidget {
    color: #fff !important;
    font-size: 13px;
    line-height: 24px;
}
li.ubermenu-column-1-1 {
    width: 100% !important;
}
.ubermenu-content-block .textwidget p {
    width: 320px;
    margin-bottom: 30px !important;
}
.ubermenu-content-block .textwidget img {
    margin-top: -45px;
}
.btn.orange,
.ubermenu .btn.orange,
input[type="submit"] {
background: #eb8c16 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #eb8c16 0%, #df6500 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #eb8c16 0%,#df6500 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #eb8c16 0%,#df6500 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb8c16', endColorstr='#df6500',GradientType=0 ) !important; /* IE6-9 */

    font-weight: 500 !important;
    color: #fff !important;
    display: inline-block;
    padding: 0 15px !important;
    text-transform: initial !important;
}
.btn.orange {
    font-size: 18px;
    line-height: 42px;
    padding: 0 30px !important;
}
.btn.orange:hover,
.ubermenu .btn.orange:hover,
input[type="submit"]:hover {
background: #557ce9 !important; /* Old browsers */
background: -moz-linear-gradient(top,  #557ce9 0%, #0c2977 100%) !important; /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #557ce9 0%,#0c2977 100%) !important; /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #557ce9 0%,#0c2977 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#557ce9', endColorstr='#0c2977',GradientType=0 ) !important; /* IE6-9 */
}
.btn.left{
    float: left;
}
.btn.right{
    float: right;
}


/*.ubermenu, .ubermenu-nav {
    z-index: 999999 !important;
}
#access {
    background: #fff none repeat scroll 0 0;
    display: block;
    float: right;
    margin: 0 auto;
}
#access .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}
#access li.ubermenu-item {
    box-sizing: border-box;
    float: left;
    height: 100px;
    padding-top: 45px;
    position: relative;
}
#access li:last-child a{
    border-right: 1px solid #f3f3f3;
}
#access a {
    border-left: 1px solid #f3f3f3;
    color: #242424;
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 30px !important;
    text-decoration: none;
}
#access li.ubermenu-item:hover{
	background: none no-repeat center bottom #f3f3f3;
}
#access ul li.current_page_item,
#access ul li.current_page_ancestor,
#access ul li.current-menu-ancestor,
#access ul li.current-menu-item,
#access ul li.current-menu-parent,
#access ul li.ubermenu-current-menu-item{
	background: url('./images/menu_arrow.png') no-repeat center bottom #f3f3f3;
}

.ubermenu-submenu img{
    margin-bottom: -10px;
    max-width: 100%;
}
.ubermenu .ubermenu-submenu-drop.ubermenu-submenu-align-full_width {
    width: 96% !important;
}
.ubermenu-item-type-custom{
    margin-bottom: -10px;
}
.ubermenu-submenu {
    left: 0 !important;
    padding: 30px 20px !important;
    top: 46px !important;
    box-sizing: border-box;
}
.ubermenu-submenu .ubermenu-submenu{
    left: auto !important;
    top: 0px !important;
    padding: 0 !important;
}
#access .ubermenu-item-level-1 ul li a{
    border-bottom: 1px solid #eee;
}
.ubermenu-submenu-type-tab-content-panel li,
li.ubermenu-item-level-5,
#access .ubermenu-item-level-1 ul ul ul ul li,
.ubermenu-item-level-3,
.ubermenu-tab-content-panel{
    border-bottom: none !important;
}
.ubermenu-tab:hover > .ubermenu-target, 
.ubermenu-tab.ubermenu-active > .ubermenu-target{
    background: #e0e5eb !important;
    color: #010041 !important;
}
.ubermenu-tab:hover > .ubermenu-target span, 
.ubermenu-tab.ubermenu-active > .ubermenu-target span{
    font-weight: bold;
}
ul ul ul ul .ubermenu-tab:hover > .ubermenu-target, 
ul ul ul ul .ubermenu-tab.ubermenu-active > .ubermenu-target{
    background: #282573 !important;
}
ul ul ul ul .ubermenu-tab .ubermenu-target::after,
ul ul ul ul .ubermenu-tab span,
ul ul ul ul .ubermenu-tab:hover > .ubermenu-target span, 
ul ul ul ul .ubermenu-tab.ubermenu-active > .ubermenu-target span{
    color: #fff !important;
}
#access ul.ubermenu-tab-content-panel {
    background: #010041 !important;
}
.ubermenu .ubermenu-colgroup .ubermenu-column, .ubermenu .ubermenu-custom-content-padded, .ubermenu .ubermenu-nonlink, .ubermenu .ubermenu-retractor, .ubermenu .ubermenu-submenu-padded, .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target, .ubermenu .ubermenu-target, .ubermenu .ubermenu-widget, .ubermenu-responsive-toggle {
    padding: 0 !important;
}
ul ul ul ul .ubermenu-submenu-type-tab-content-panel li{
    background: #fff !important;
}
.ubermenu-sub-indicators .ubermenu-has-submenu-drop > .ubermenu-target::after {
    display: none !important;
}
.ubermenu-submenu .ubermenu-has-submenu-drop > .ubermenu-target::after {
    display: block !important;
}*/

/* =Content
-------------------------------------------------------------- */
#main {
    clear: both;
    overflow: hidden;
    padding: 0;
    width: 100%;
    min-height: 250px;
}
#content {
	margin-bottom: 36px;
}
#content, #content input, #content textarea {
    color: #333;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 21px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt, #content th {
    background: #0b2979 none repeat scroll 0 0;
    color: #fff !important;
    text-align: center;
}
#content dt:first-child, #content th:first-child {
    text-align: left;
}
#content h1,
#content h2,
#content h3,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.5em;
	margin: 0 0 20px 0;
}
#content h3 {
    color: #0b2979;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 15px;
    text-transform: uppercase;
}
#content h4 {
    color: #0b2979;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 15px;
    text-transform: uppercase;
}
#content h5 {
    border-bottom: 2px solid #f3f3f3;
    color: #0b2979;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 4px;
}
#content table {
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
#content tr th,
#content thead th {
	color: #777;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	padding: 9px 10px;
}
#content tr td {
	border-top: 1px solid #e7e7e7;
	padding: 6px 10px;
	text-align: center;
}
.page-id-26 #content tr td{
	text-align: left;
}
#content tr td:first-child{
	text-align: left;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #777;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
.home #content .entry-title{
    display: none;
}
#content .entry-title {
    /*color: #0b2979 !important;
    font-size: 36px;
    margin-left: 1px;
    text-transform: uppercase;*/

    color: #fff !important;
    font-size: 55px;
    font-weight: 600;
    margin-left: 1px;
    top: -91px;
    position: absolute;
    text-transform: uppercase;
	
}
.page-id-26 #content .entry-title
  {
top: -92px;
text-shadow: 2px 2px 2px #000;
}

.single-fproject .entry-title {top: -92px;
/*text-shadow: 2px 2px 2px #000;*/
}

.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #777;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #777;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	line-height: 48px;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #777;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}
/* =Asides
-------------------------------------------------------------- */
.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}
/* =Gallery listing
-------------------------------------------------------------- */
.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}
/* =Attachment pages
-------------------------------------------------------------- */
.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}
/* =Images
-------------------------------------------------------------- */
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
	max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
	color: #777;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
/*.gallery img {
	border: 2px solid #cfcfcf;
}*/
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #777;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
/*.gallery img {
	border: 10px solid #f1f1f1;
}*/
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
/* =Navigation
-------------------------------------------------------------- */
.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}
/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #777;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #777;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #777;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}
/* Comments form */
#wrapper input[type="submit"] {
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    cursor: pointer;
    font-size: 14px !important;
    font-weight: 300 !important;
    margin: 0;
    padding: 5px 15px !important;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #777;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #777;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Testimonials Page
-------------------------------------------------------------- */
#testi .hms-testimonial-group {
    background: transparent url("./images/testimonials_bg.png") repeat-y scroll center top;
}
#testi .hms-testimonial-group {
    -moz-column-count: 2;
    -moz-column-gap: 0;
}
#testi .hms-testimonial-container {
    border-bottom: 1px solid #f3f3f3;
    box-sizing: border-box;
    display: inline-block;
    margin: 0 10px 0 12px;
    padding: 25px 10px;
    width: 95%;
}
#testi .hms-testimonial-container .testimonial {
    font-size: 15px;
    font-style: italic;
}
#testi .hms-testimonial-group div {
    height: auto !important;
}
#testi .hms-testimonial-container .author {
    color: #eb8a16;
    float: right;
    font-family: roboto slab;
    font-size: 15px;
    margin-top: 18px;
    text-align: right;
}



/* =Widget Areas
-------------------------------------------------------------- */
.widget-area ul {
	list-style: none;
	margin-left: 0;
}
.widget-area ul ul {
	list-style: square;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;	
}
#footwrap .widget-container{
	min-height: 282px;
}
.widget-container .wp-caption img {
	margin: auto;
}
#footwrap .widget-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 18px !important;
    font-weight: 600;
    padding: 20px 0;
    text-align: left;
    text-transform: uppercase;
    color: #0b2979;
}
.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}
/* Main sidebars */
#main .widget-area ul {
    background: #fff none repeat scroll 0 0;
    margin-left: 0;
}
#main .widget-area ul.xoxo {
    background: #f3f3f3 none repeat scroll 0 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 1.3em;
	padding: 0;
}
#primary {
    position: relative;
    top: 21px;
    padding-bottom: 30px;
}
#secondary {
}
/* Footer widget areas */
#footer-widget-area {
}
/* =Footer
-------------------------------------------------------------- */
#footer {
	margin-bottom: 20px;
}
#site-info {
	font-weight: bold;
}
#site-info a {
	color: #000;
	text-decoration: none;
}
#site-generator {
	font-style: italic;
	position: relative;
}
#site-generator a {
	background: url(images/wordpress.png) center left no-repeat;
	color: #666;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	text-decoration: none;
}
img#wpstats {
	display: block;
	margin: 0 auto 10px;
}
/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */
pre {
	-webkit-text-size-adjust: 140%;
}
code {
	-webkit-text-size-adjust: 160%;
}
#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}
#site-description {
	-webkit-text-size-adjust: none;
}
/* =Print Style
-------------------------------------------------------------- */
@media print {
	body {
		background: none !important;
	}
	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: 2pt solid #000;
		padding-bottom: 18pt;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1.4em;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 13pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: none !important;
	}
	#container,
	#header,
	#footer {
		margin: 0;
		width: 100%;
	}
	#content,
	.one-column #content {
		margin: 24pt 0 0;
		width: 100%;
	}
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: inline;
	}
	.home .sticky {
		border: none;
	}
}
.clearfix:after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}
/**********************************HEADER**********************************/

#headwrap{
    border-top: 30px solid #232323;
    border-bottom: none;
    background: #fff;
    position: relative;
    z-index: 999;
}
.home #headwrap{
    border-bottom: 30px solid #232323;
}
#topbar {
    box-sizing: border-box;
    float: right;
    height: 30px;
    margin-top: -30px;
    padding-top: 5px;
}
#topbar a{
    color: #fff;
}
#topbar a:hover{
    color: #eb8a16;
}
#topbar #email{
    background: transparent url("./images/icon_email.png") no-repeat scroll left center;
    padding-left: 20px;
    margin-right: 10px;
}
#topbar #tel {
    background: transparent url("./images/icon_tel.png") no-repeat scroll left center;
    padding-left: 20px;
}

#logo {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 160px;
    margin-bottom: -30px;
    margin-top: -30px;
    padding: 0 10px;
    position: relative;
    z-index: 9999;
}

.logo{
  position: relative;
  top: 8%;
  transform: translateY(5%);
}


#logo h1 {
    height: 0;
    text-indent: -9999px;
}

.metaslider .flexslider{
    margin: 0 !important;
}
.metaslider .caption {
    box-sizing: border-box;
    font-size: 12px;
    max-width: 350px;
    padding: 15px 25px !important;
    text-align: center;
}
.metaslider .caption-wrap {
    background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0 !important;
    border-top: 3px solid #d57c16;
    bottom: 5% !important;
    left: auto !important;
    opacity: 1 !important;
    right: 5% !important;
    width: auto !important;
}
.caption h6 {
    color: #000;
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.caption h6 span {
    color: #0b2979;
    display: block;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
    line-height: 30px;
}
.caption p {
    color: #232323;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px !important;
    line-height: 24px;
}
.flex-control-nav {
    bottom: 25px !important;
    z-index: 9999;
}


/**********************************HOMEPAGE**********************************/

.home #content h3 {
    background: #f3f3f3 none repeat scroll 0 0;
    color: #0b2979 !important;
    font-size: 36px !important;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
}
.home h3 span {
    color: #232323;
    display: block;
    font-size: 18px;
    font-weight: 300;
    margin-top: 5px !important;
    text-transform: initial;
    line-height: 25px;
    padding-bottom: 5px;
}
.entry-content h3{
    margin-top: 30px !important;
}

.imghover {
    background: #666 none repeat scroll 0 0;
    float: right;
    height: 125px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 350px;
}
.imghover img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
        max-width: 100%;
    opacity: 0.60;
}
.imghover:hover img{
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
    opacity: 1;

  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.imghover span {
    display: block;
    height: 125px;
    line-height: 125px;
    margin-top: -137px;
    text-align: center;
    width: 350px;
    position: absolute;

    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    text-transform: uppercase;
}
.page-id-12 .imghover {
    float: left;
    height: auto;
    margin-bottom: 2%;
    margin-right: 2%;
    width: 32%;
}
.page-id-12 .imghover:nth-child(3n+0){
    margin-right: 0px;
}
.page-id-12 .imghover span {
    height: 170px;
    line-height: 175px;
    margin-top: -180px;
    position: relative;
    width: 100%;
}

ul.logos {
    display: table;
    margin: 30px 0 !important;
    width: 100%;
}
ul.logos li {
    display: table-cell;
    list-style: outside none none;
    text-align: center;
    vertical-align: middle;
    width: 13%;
}
ul.logos a{}
ul.logos img{
    display: block;
    height: auto;
    max-width: 200px;
    width: 90%;
    margin: 0 auto;
}

.one_third {
    width: 31% !important;
    margin-right: 3.5%;
}
.one_third.last_column{
    margin-right: 0;
}
.hms-testimonial-single {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #d1d1d1;
    padding-top: 10px;
}
.hms-testimonial-single img {
    float: left;
    height: auto !important;
    margin: 0 25px 10px;
    width: 75px !important;

-webkit-border-radius: 75px;
-moz-border-radius: 75px;
border-radius: 75px;
}
.hms-testimonial-single .author {
    color: #0b2979;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding-top: 13px;
}
.hms-testimonial-single .title a{
    color: #232323;
    font-size: 14px;
    font-weight: 600;
}
.hms-testimonial-single .testimonial {
    background: #fff none repeat scroll 0 0;
    clear: both;
    padding: 30px 25px;
    text-align: left;
}

/**********************************INSIDE**********************************/

.cat-image-wrap {
    top: -30px;
    position: relative;
}
.cat-image-wrap #plax-slide {
    min-height: 250px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.8+0,0+100 */
background: -moz-linear-gradient(left,  rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(0,0,0,0.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

}
.parallax-mirror img{
    /*filter: blur(4px);*/
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

#primary h3 {
    background: #0B2979 none repeat scroll 0 0;
    color: #fff !important;
    font-size: 20px;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
}
#primary .prof h3{
    margin-bottom: 10px;
}
#primary .textwidget {
    box-sizing: border-box;
    padding: 30px 30px 10px;
}
#primary .prof .textwidget{
    padding: 0;
}

span.wpcf7-not-valid-tip {
    display: none !important;
}
div.wpcf7-validation-errors {
    border: medium none !important;
    color: #eb8a16;
    margin: 0;
    padding: 0;
    text-align: center;
}
div.wpcf7-mail-sent-ok {
    display: none !important;
}
input.wpcf7-not-valid{
    border: 1px solid #eb8a16 !important;
}
.wpcf7-form img.wpcf7-form-control {
    left: auto;
    position: relative;
    right: -3px;
    top: -40px;
}
input.wpcf7-captchar {
    padding: 6px 10px 6px 85px;
}
.wpcf7-captchac {
    z-index: 99999;
}

/**********************************FAQs PAGE**********************************/

.su-tabs {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    padding: 0 !important;
}
.su-tabs-nav span{
    background: #f3f3f3 none repeat scroll 0 0 !important;
    border-radius: 5px !important;
    color: #232323 !important;
    font-weight: 500;
    margin-bottom: 3px;
}
.su-tabs-nav span:hover,
.su-tabs-nav span.su-tabs-current{
    background: #eb8a16 none repeat scroll 0 0 !important;
    color: #fff !important;
}
.su-tabs-nav{
    margin-bottom: 20px;
}
.su-tabs-pane{
    padding: 0 !important;
    color: #333 !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    line-height: 24px !important;
}
div.qa-faq {
    padding: 4px 0;
}
h3.qa-faq-title {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    font-size: 16px;
    margin: 0 !important;
    padding: 0;
    text-align: left;
    text-transform: inherit;
}
h3.qa-faq-title a{
    color: #232323 !important;
    font-size: 16px;
    text-transform: none;
}
h3.qa-faq-title a:hover, h3.qa-faq-title a.active{
    color: #EB8A16 !important;
}
h3.qa-faq-title a::before {
    background: transparent url("./images/faq_arrows.jpg") no-repeat scroll 0 0;
    content: "";
    display: block;
    float: left;
    height: 14px;
    margin-bottom: 18px;
    margin-right: 5px;
    position: relative;
    top: 10px;
    width: 14px;
}
h3.qa-faq-title a.active::before {
    background: transparent url("./images/faq_arrows.jpg") no-repeat scroll -14px 0;
}
div.qa-faq-answer {
    padding-left: 20px;
    padding-top: 8px;
}
.faq-catname{
    display: none;
}

/**********************************PRODUCT PAGES**********************************/

.entry-content .su-spoiler-style-fancy{
    border: none !important;
}
.entry-content .su-spoiler-style-fancy > .su-spoiler-title{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background: #f3f3f3;
    border-bottom: none !important;
}
.entry-content .su-spoiler-title {
    color: #0b2979;
    font-size: 16px !important;
    font-weight: 600;
    padding: 10px 34px 10px 10px;
    text-transform: uppercase;
}
.entry-content .su-spoiler-icon {
    left: auto;
    right: 7px;
    top: 10px;
}
.entry-content .su-spoiler-content {
    padding: 15px 10px;
}

.su-spoiler span{
    padding: 0 0 0 10px;
}

ul.colors{
    margin: 0;
}
ul.colors li {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    list-style: outside none none;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 63px;
    vertical-align: top;
}
ul.colors img {
    border: 1px solid #333;
    display: block;
    margin: 0 auto 5px;
}

.parent-pageid-8 .one_third.last_column {
    float: right;
}
.pq {
    background: #0b2979 none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    font-size: 20px;
    font-weight: 500;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
}
.gallink {
    background: #0b2979 none repeat scroll 0 0;
    color: #fff !important;
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin: 50px auto 0;
    max-width: 400px;
    padding: 12px 10px;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
}

/**********************************MISC**********************************/

#content .liexternal{
    background: url('./images/icon_external_link.gif') no-repeat center right transparent;
    padding-right: 18px;
}
.home #content .liexternal{
    background: none;
}
.menu-mobile-menu-container ul{
    margin: 0;
}
.page-id-143 #content img.alignleft, 
.page-id-143 #content img.alignright, 
.page-id-143 #content img.aligncenter{
    width: 100%;
}

/**********************************FOOTER**********************************/

#footwrap{
    background: #F3F3F3;
    border-bottom: 50px solid #232323;
}
#footer li {
    background: #eee none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 0;
    margin-left: 3.5%;
    padding: 6px 10px 20px 35px;
    width: 31%;
    vertical-align: top;
}
#footer li:first-child{
    margin-left: 0;
}

.widget-container .menu {
    margin: 0;
}
.widget-container .menu li {
    display: block !important;
    line-height: 22px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}
.widget-container .menu li::before {
    color: #eb8a16;
    content: "●";
    font-size: 11px;
    vertical-align: top;
}
.widget-container .menu li a,
.widget-container .menu li b,
.widget-container .menu li {
    color: #232323;
    font-size: 14px;
    font-weight: 300;
    padding-left: 8px;
}
.widget-container .menu li b:last-child {
    padding-left: 4px;
}
.widget-container .menu li a:hover{
    color: #0b2979;
}
#text-10 .menu li a{
    padding-left: 0px;
}
.widget-container .menu li b{
    font-weight: 600;
}

#social {
    margin: 0;
    padding: 15px 0 0;
    overflow: hidden;
}
#social li {
    display: inline-block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto !important;
}
#social li a {
    display: block;
    height: 25px;
    text-indent: -9999px;
    width: 25px;

-webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
}
#social li a:hover {
    background-color: orange !important;
    transform: rotate(360deg);
    transition-duration: 0.3s;
}

#social li a#facebook{
    background: url('./images/social_facebook.png') no-repeat center center #ddd;
}
#social li a#twitter{
    background: url('./images/social_twitter.png') no-repeat center center #ddd;
}
#social li a#google{
    background: url('./images/social_google.png') no-repeat center center #ddd;
}
#social li a#pinterest{
    background: url('./images/social_pinterest.png') no-repeat center center #ddd;
}
#social li a#instagram{
    background: url('./images/social_instagram.png') no-repeat center center #ddd;
}

.legal {
    height: 50px;
    line-height: 50px;
    margin-bottom: -50px;
    color: #fff;
}
.legal .right{
    float:right;
}
.legal a{
    color: #fff;
}
.legal a:hover{
    color: #eb8a16;
}

/**********************************GALLERY**********************************/

/*.fg-panel h3{
    display: none;
}

.fg-navigation {
    float: right !important;
    position: relative !important;
    text-align: right !important;
    top: 7px !important;
    left: -13px !important;
}
.fg-dropdown .fg-current-album-white {
    background-color: #fff !important;
    border: 1px solid #000 !important;
}
.fg-panel .fg-dropdown-selection-list.fg-theme-white {
    max-height: inherit !important;
    max-height: initial !important;
    max-height: unset !important;
    z-index: 999 !important;
}
.fg-panel .fg-theme-white, .fg-panel .fg-theme-white {
    background: #f3f3f3 !important;
    color: #232323 !important;

-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}
.fg-panel .fg-dropdown-selection-list.fg-theme-white li:hover {
    background: #EB8A16 !important;
    color: #fff !important;

-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}
.entry-content .fg-panel .fg-theme-white.fg-selected {
    background: #EB8A16 !important;
    color: #fff !important;
}
.fg-dropdown .fg-current-album {
    font-weight: 600 !important;
}
a.fg-nav-white, a.fg-nav-white:visited {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #000 !important;
    box-shadow: none !important;
    color: #000 !important;
    font-weight: 500 !important;
    text-shadow: none !important;

-webkit-border-radius: 0px !important;
-moz-border-radius: 0px !important;
border-radius: 0px !important;
}
.fg-navigation a.fg-nav-white-selected {
    background: #BC2C30 none repeat scroll 0 0 !important;
    box-shadow: none !important;
    color: #ffffff !important;
    text-shadow: none !important;
}
.fg-navigation a.fg-nav-white:hover{
    text-decoration: none !important;
}
.fg-image, .fg-title {
    background-color: rgba(0, 0, 0, 0.75) !important;
    color: #fff !important;
}
.fg-listItem span.fg-title {
    text-align: center;
    font-weight: 500;
}

div.pp_overlay {
    z-index: 9999 !important;
}*/

.wc-image-links .gallery-caption, .wc-gallery-captions-onpopup .gallery-caption, .wc-gallery-captions-showon .gallery-caption, .wc-gallery-captions-onhover .gallery-caption{
    background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0 !important;
    color: #fff !important;
}
.wc-gallery .gallery-caption h2, .wc-gallery .gallery-caption h3, .wc-gallery .gallery-caption h4, .wc-gallery .gallery-caption h5, .wc-gallery .gallery-caption h6, .wc-gallery .gallery-caption p{
    line-height: 18px;
    margin-bottom: 0 !important;
    overflow: visible !important;
    text-align: center !important;
    white-space: inherit !important;
}

/**********************************FEATURED PROJECTS SINGLE**********************************/

.single-fproject #container{
    padding-top: 30px;
}
.single-fproject #content h3 {
    font-size: 22px;
    margin: 0 0 5px;
}
.single-fproject #content h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 30px 0 15px;
    text-transform: none;
}
.single-fproject .wc-gallery{
    padding-top: 30px;
}
.single-fproject .one_half {
    box-sizing: border-box;
    padding-right: 2%;
}

/**********************************FEATURED PROJECTS HOMEPAGE**********************************/

.grid {
    overflow: auto;
    padding: 30px 0 20px;
}
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0 2% 0 0;
	width: 49%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}
.grid figure:nth-child(2){
	margin: 0;
}
.grid figure img {
	position: relative;
	display: block;
	/*min-height: 100%;*/
        height: auto;
	max-width: 100%;
	opacity: 0.60;

    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.grid figure:hover img{
    -webkit-transform:scale(1.15); /* Safari and Chrome */
    -moz-transform:scale(1.15); /* Firefox */
    -ms-transform:scale(1.15); /* IE 9 */
    -o-transform:scale(1.15); /* Opera */
     transform:scale(1.15);
    opacity: 1;

  -webkit-filter: blur(2px);
  filter: blur(2px);
}
.grid figure figcaption {
	padding: 2%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h2 {
    color: #fff !important;
    font-size: 28px;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000;
    width: 100%;
    margin: 0;
}
.grid figure h2 span {
    background: #eb8a15 none repeat scroll 0 0;
    display: block;
    font-size: 20px;
    line-height: 40px;
    margin: 10px auto 0;
    max-width: 100px;
    text-align: center;
    text-shadow: none;
}

/*-----------------*/
/***** Hera *****/
/*-----------------*/

figure.effect-hera {
	background: #666;
}
figure.effect-hera h2{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;

	opacity: 0;
}
figure.effect-hera:hover figcaption::before {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
	transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-45deg) scale3d(1,1,1);
}
figure.effect-hera:hover h2 {
	opacity: 1;
	-webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
	transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

/**********************************GALLERY SIDEBAR**********************************/

#primary li.fg-listItem > div {
    padding: 3px !important;
}

/**********************************RESPONSIVE TABLES**********************************/

table.responsive{ 
  margin: 0 auto;
  border-collapse: collapse;
  text-rendering: optimizeLegibility;
}
table.responsive caption{
    text-align: left;
}
table.responsive thead th { 
    font-weight: 600; 
}
table.responsive thead th, table.responsive tbody td {
    padding: 0.8rem;
}
table.responsive.mesh tbody td{
    padding: 0 0.8rem;
}
table.responsive.mesh tbody td img{
    margin: 4px 0 -2px;
}
table.responsive tbody td { 
    color: #010041;
    vertical-align: middle;
}
.page-id-145 table.responsive tbody td:first-child{
    min-width: 75%;
}
table.responsive tbody tr:not(:last-child) {
    border-bottom: 1px solid #efe4d4;
    border-top: 1px solid #efe4d4;
}
.pdf, .cad {
    background: transparent url("./images/pdf.png") no-repeat scroll center center;
    display: block;
    text-indent: -9999px;
}
.cad {
    background: transparent url("./images/cad.png") no-repeat scroll center center;
}
.page-id-145 table.responsive tbody td::before {
    float: left;
}
table.responsive.left tbody td::before{
    width: auto;
}
table.responsive.left tbody td {
    text-align: left !important;
}



/**********************************RESPONSIVE STYLES**********************************/
.mobileshow{
    display: none !important;
}
.home #wrapper{
  width: 100%;
}
.container-box{
  width: 1240px;
  margin: 0 auto;
}

#wrapper,
div.menu,
#branding,
#header,
#footer {
  width: 1240px;
}
#headwrap, #footwrap{
  width: 100%;
  margin: 0 auto;
}
#header, #footer{
  margin: 0 auto;
}


@media screen and (max-width: 1280px) {
  #wrapper, #header, #footer{
    width: 94% !important;
  }
.container-box{
    width: 100% !important;
  }
.entry-content .fg-listItem{
    clear: none !important;
    margin: 0 15px 15px 0 !important;
}
}


@media screen and (max-width: 1150px) {
li.ubermenu-item-level-0 a {
    padding: 0 20px !important;
}
.ubermenu li.ubermenu-tab a{
    padding: 0 30px !important
}
.ubermenu .ubermenu-nav .ubermenu-column-3-4 {
    width: 73.5% !important;
}
.ubermenu-content-block .textwidget img {
    height: auto;
    max-width: 60%;
    width: 60%;
}
}


@media screen and (max-width: 1024px) {
#footer li {
    padding: 0 10px 20px 20px;
}
li.ubermenu-item-level-0 a {
    padding: 0 12px !important;
}
.page-id-12 .imghover span {
    height: 130px;
    line-height: 130px;
    margin-top: -139px;
}
}


@media screen and (max-width: 940px) {
li.ubermenu-item-level-0 a {
    padding: 0 3px !important;
}
.ubermenu .ubermenu-nav .ubermenu-column-3-4 {
    width: 67.5% !important;
}
.ubermenu-content-block .textwidget img {
    max-width: 45%;
    width: 45%;
}
#content .entry-title {
    font-size: 5vw;
}

.imghover {
    height: 100px;
    width: 280px;
}
.imghover span {
    font-size: 18px;
    height: 100px;
    line-height: 100px;
    margin-top: -111px;
    width: 280px;
}
}

@media screen and (max-width: 797px) {
.widget-container {
    min-height: 275px;
}
li.ubermenu-item-level-0 a {
    padding: 0 1px !important;
}
.hms-testimonial-single .author, .hms-testimonial-single .title {
    clear: both;
    text-align: center;
}
.hms-testimonial-single .title {
    padding-bottom: 10px;
}
.hms-testimonial-single img {
    left: 50%;
    margin: 0 0 0 -42px;
    position: relative;
}
}


@media screen and (max-width: 768px) {
#wrapper, #header, #footer {
    width: 98% !important;
}
#content, #primary, #secondary, #container {
    display: block;
    margin: 0;
    width: 100%;
}
#wrapper {
    padding: 0 10px;
}
.imghover {
    height: 88px;
    width: 245px;
}
.imghover span {
    font-size: 18px;
    height: 88px;
    line-height: 88px;
    margin-top: -98px;
    width: 245px;
}
#text-10 #email{
    font-size: 13px;
}
.fg-navigation, .fg-dropdown-selection {
    float: none !important;
    left: auto !important;
    margin: 0 auto !important;
    text-align: center !important;
    top: auto !important;
}
.fg-dropdown-selection {
    margin: 0 auto  20px !important;
}
.fg-listItem{
    clear: none !important;
    margin: 0 15px 15px 0 !important;
}

table.responsive caption { 
    background-image: none; 
}
table.responsive thead { 
    display: none; 
}
table.responsive tbody td { 
    border-top: 1px solid #efe4d4;
    display: block; 
    padding: .6rem; 
}
table.responsive.mesh tbody td{
    padding: 0.4rem 0.8rem;
}
table.responsive tbody tr td:first-child {
    background: none repeat scroll 0 0 #0b2979;
    color: #fff;
}
table.responsive tbody td:before { 
    content: attr(data-th); 
    font-weight: 600;
    display: inline-block;
    width: 9rem;  
}
.flex-control-nav {
    z-index: 0;
}
#content tr td {
    text-align: left;
}
.parent-pageid-8 .two_third, .parent-pageid-8 .one_third.last_column{
    float: none;
    width: 100% !important;
}
.page-id-12 .imghover span {
    height: 100px;
    line-height: 100px;
    margin-top: -106px;
}
.single-fproject .one_half, .single-fproject .one_half.last_column{
    width: 100%;
    padding: 0;
}
.single-fproject .one_half.last_column img {
    display: block;
    margin: 20px auto 0;
    text-align: center;
}
.single-fproject #container {
    padding-top: 0px;
}
.caption-wrap{
    display: none !important;
}
.mobileshow {
    display: block !important;
    margin-top: 25px;
    text-align: center;
}
}

@media screen and (max-width: 667px) {
.widget-container {
    min-height: unset;
}
.widget-title {
    text-align: center;
}
#footer li{
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.one_third, .one_third.last_column {
    text-align: center;
    width: 100% !important;
}
#footer li#text-10{
    padding-bottom: 20px;
}
#footer li.widget_nav_menu{
    display: none;
}
.widget-container .menu li::before{
    content: "";
}
#footwrap {
    border-bottom: 65px solid #232323;
}
.legal {
    line-height: 35px;
    text-align: center;
}
.legal .right {
    clear: both;
    display: block;
    float: none;
    margin-top: -10px;
}
.three_fifth, .two_fifth {
    width: 100% !important;
}
.imghover {
    float: none;
    margin: 0 auto 20px;
}
.btn.right, .btn.left {
    display: table;
    float: none;
    margin: 0 auto;
}
#text-10 #email{
    font-size: 14px;
}
.testimonials .one_third:nth-child(2),
.testimonials .one_third:nth-child(3){
    display: none;
}
#footwrap .widget-title {
    text-align: center;
}
.page-id-12 .imghover {
    width: 49%;
    margin-right: 2% !important;
}
.page-id-12 .imghover:nth-child(2n+0){
    margin-right: 0% !important;
}
.page-id-12 .imghover span {
    height: 100px;
    line-height: 100px;
    margin-top: -106px;
}
.grid figure {
    margin: 0 0 2% 0;
    width: 100%;
}
}


@media screen and (max-width: 603px) {
}


@media screen and (max-width: 568px) {
.home .logo {
    padding: 0 0 10px 8px;
    position: relative;
    top: 0;
    transform: translateY(0px);
    margin-left: 0px;
    background: transparent;
}
.logo {
    margin-left: -2px;
    padding: 18px 0 10px;
    top: 0;
    transform: translateY(0px);
    position: relative;
    background: transparent;
}
.safari .home .logo{
    top: 34px !important;
    margin-left: -10px !important;
}
.safari .logo{
    top: 15px !important;
}
.safari #logo{
    height: 180px !important;
}
#logo {
    display: unset;
    background: transparent;
}
#topbar {
    float: none;
    text-align: center;
}
#headwrap {
    border-bottom: none;
}
.btn.right, .btn.left {
    display: block;
    text-align:center;
}
.cat-image-wrap #plax-slide {
    min-height: 150px;
}
#content .entry-title {
    color: #0b2979 !important;
    font-size: 30px;
    font-weight: 600;
    top: 0;
    position: relative;
}
.home #headwrap {
    border-bottom: none;
}
.su-tabs-nav span {
    text-align: center;
}
.single-fproject #content .entry-title {
    display: none;
}
#responsive-menu-button {
    top: 85px !important;
}
}


@media screen and (max-width: 480px) {
ul.logos li {
    display: block;
    width: 100%;
}
#primary, #secondary {
    min-width: auto;
}
.entry-content .fg-listItem {
    float: none !important;
    margin: 0 auto  10px !important;
}
img.alignleft, img.alignright, img.aligncenter {
    display: block;
    float: none;
    margin: 0 auto 5px;
    text-align: center;
}
.pq, .gallink {
    font-size: 14px;
}

.page-id-12 .imghover {
    width: 100%;
    margin-right: 0% !important;
}
.page-id-12 .imghover span {
    height: 170px;
    line-height: 170px;
    margin-top: -180px;
}
}


@media screen and (max-width: 375px) {
#headwrap {
    border-top: 60px solid #232323;
}
#topbar {
    height: 60px;
    margin-top: -60px;
    padding-top: 8px;
}
#topbar #tel {
    display: inline-block;
    margin-top: 5px;
}
#responsive-menu-button {
    top: 95px !important;
}
.page-id-12 .imghover span {
    height: 140px;
    line-height: 140px;
    margin-top: -150px;
}
}


@media screen and (max-width: 320px) {
}
@media only screen and (min-width:768px){
  .scroll-back-to-top-wrapper{
    display: none;
  }
}